{% extends 'base.html.twig' %}

{% block title %}{{ video.title }}{% endblock %}

{% block body %}
    <!-- Section: Blog v.4 -->
    <section class="my-5" style="width: 70%; margin: auto">

 
                        <iframe width="700" height="400" src="{{ video.finalurl }}" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; picture-in-picture"
                                allowfullscreen>
                        </iframe>
                        
                        <br/>
                    
                        {{ video.createdAt|date }}

                        <h2 class="font-weight-bold">
                            <strong>
                                <a href="{{ video.url }}">{{ video.title }}</a>
                            </strong>
                        </h2>
                            {{ video.description }}
    
                
                <br/>
        {% if (is_granted('IS_AUTHENTICATED_FULLY')) %}
            {% if video.user.id == user.id or (is_granted('ROLE_ADMIN')) %}
                            {% if (is_granted('ROLE_USER')) %}
                                    <a href="{{ path('user-update-video',{'id':video.id}) }}">Update
                                    </a>
                                    <a href="{{ path('user-remove-video', {'id': video.id}) }}">Delete
                                    </a>
                            {% else %}
                                    <a  href="{{ path('admin-update-video',{'id':video.id}) }}">Update
                                    </a>
                                    <a href="{{ path('video-remove', {'id': video.id}) }}">Delete
                                    </a>
                            {% endif %}
                        
                {% endif %}
        {% endif %}


    </section>
    <!-- Section: Blog v.4 -->
{% endblock %}
