{% extends 'user-template.html.twig' %}

{% block title %} My account {% endblock %}


{% block body %}


            <div class="example-wrapper" style="width: 55%; margin: auto; padding: 20px; background-color: #fff">

                {{ form_start(form) }}
                {{ form_errors(form) }}

                <div>
                    {{ form_label(form.firstname) }}
                    {{ form_errors(form.firstname) }}
                    {{ form_widget(form.firstname, {'attr': {'class': 'form-control'}}) }}
                    {{ form_help(form.firstname) }}
                </div>

                <div>
                    {{ form_label(form.lastname) }}
                    {{ form_errors(form.lastname) }}
                    {{ form_widget(form.lastname, {'attr': {'class': 'form-control'}}) }}
                    {{ form_help(form.lastname) }}
                </div>
                <br>

                <div style="height: 120px;">
                    {{ form_label(form.birthday) }}
                    {{ form_errors(form.birthday) }}
                    {{ form_widget(form.birthday) }}
                    {{ form_help(form.birthday) }}
                </div>

                <div>
                    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-danger'}}) }}
                </div>

                {{ form_end(form) }}


            </div>
{% endblock %}
